@import '../../styles/variables';

.Profile {
  font-family: $headingFont;
}
.profile-title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}
.card {
  border: 0 !important;
  text-align: center;
}

img {
  border-radius: 3% !important;
  width: 40% !important;
}
