@import '../../styles/variables';

.InputForm {
  font-family: $headingFont;
}

.form-check-input {
  cursor: pointer;
}

.input-title {
  text-align: center;
  text-decoration: underline;
}

.input-group-prepend {
  min-width: 12%;
  background-color: #343a40 !important;
  color: white !important;
}

.submit-button {
  background-color: #343a40 !important;
  color: white !important;
}
