@import '../styles/variables';

html,
body {
  height: calc(100vh -56px);
}

.Profile {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.container-fluid {
  height: 100%;
}

hr {
  margin-top: 4px !important;
  margin-bottom: 8px !important;
}
