.OutputForm {
  // height: 100%;
}

.conatiner-fluid {
  // height: 100%;
}

.tab-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-link.active {
  background-color: #343a40 !important;
  color: white !important;
}

.nav-item {
  cursor: pointer;
}
