.tab-content {
  max-height: 315px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-link.active {
  background-color: #343a40 !important;
  color: white !important;
}

.nav-item {
  cursor: pointer;
}
